# Project place file
/rblx.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

# undotree
.*.un~

# uv
.venv/

# jupyterlite
lite/
lite/tmp/
/.jupyterlite.doit.db
_output/

# wally
Packages/
DevPackages/

sourcemap.json
roblox.yml

/flat-terrain*.rbxl

.local_share_vinegar/

__pycache__/
